version: "3.7"
services:

  #app_proxy:
  #    environment:
  #      # The format here is: <app-id>_<docker-service-name>_1
  #      APP_HOST: head-unbound_unbound_1
  #      APP_PORT: 5335
        
  unbound:
    image: mvance/unbound-rpi:latest
    container_name: unbound
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ${APP_DATA_DIR}/data/config:/etc/unbound/unbound.conf.d/pi-hole.conf
    ports:
      - 5335:5335/tcp
      - 5335:5335/udp
    restart: unless-stopped