version: "3.7"
services:

  #app_proxy:
  #    environment:
  #      # The format here is: <app-id>_<docker-service-name>_1
  #      APP_HOST: head-unbound_unbound_1
  #      APP_PORT: 5335
        
  unbound:
    image: mvance/unbound-rpi:1.17.1
    container_name: unbound
    environment:
      - TZ=Etc/UTC
    volumes:
      - ${APP_DATA_DIR}/data/config/:/opt/unbound/etc/unbound/
    ports:
      - 5335:53/tcp
      - 5335:53/udp
    restart: unless-stopped